
.form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto; 
    padding-top: 3%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
}

.form-button button:hover {
    background-color: #0056b3;
}

.job-table {
    width: 100%;
    border-collapse: collapse;
}

.job-table th,
.job-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.job-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.job-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.job-table tr:hover {
    background-color: #e6e6e6;
}
.container {
    padding: 1rem;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
  }
  .container button {
    border: none;
    padding: 0.625rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  .container button.template {
    margin-right: 2rem;
  }
  .modal-container {
    padding: 1rem;
  }
  .title {
    margin-bottom: 3rem;
  }
  .content p {
    line-height: 1.4;
    font-size: 1.1rem;
  }
  .content .current {
    color: rgb(24, 71, 129);
    font-weight: 600;
  }
  .footer {
    margin-top: 2rem;
  }

  table {
    max-width: 90%;
  }

  .modal-button {
    display: flex;
    justify-content: center;
  }
